<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do is to sign up!</p>
        <div class="center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <!--(app-Register)child component for Home component(parent for Register component)-->
                <!--when we receivng(@input) stuff from child component (Register) it goes in square brackets [] and when we are outputting stuff
                (@output) stuff we use parathesis ()-->
                <!--<app-register [usersFromHomeComponent]="users" (cancelRegister)="cancelRegisterMode($event)"></app-register>-->
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
